#MainBox {
    position: relative;
    top: 50px;
    margin:auto;
    width: 70%;
}
#typingBox {
    position: relative;
    top: 0px;
    margin:auto;
    height: 500px;
    word-wrap: break-word;
    border: 1px solid white;
    padding: 5px;
}
#cpmText {
    width: 50%;
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
    color: white;
    font-weight: bold;
}
body {
    background-color: #252525;
    font-family: 'Fira Code', monospace;
}
.typingText {
    margin: 0;
    font-size: 1.5rem;
}

#textTyped {
    color: gray;
}

#textToType {
    color: white;
}

#languageSelector {
    position: absolute;
    top: 0;
    left:-21%;
    width: 20%;
    height: 100%;
}
.codingLanguage {
    margin: 5px 0;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}

.selectedLanguage {
    border: 2px solid white;
}

#textHighlightor {
    position: absolute;
    display: inline;
    background-color: black;
    width: 2px;
    height: 30px;
    margin-top: 3px;
}